# Fichiers et dossiers générés par Node/NPM
/node_modules
/dist
/build
npm-debug.log*

# Secrets et fichiers d'environnement
.env
.env.*

# VSCode : ignorer tout sauf settings.json
.vscode/*
!.vscode/settings.json
