openapi: 3.0.0
info:
  title: Pirates API
  version: 1.0.0

servers:
  - url: https://hamza.alain.lab.edwrdl.ca/api

paths:
  /ping:
    get:
      summary: Effectuer un ping de l'API
      tags: [Health]
      responses:
        '200':
          description: Ping réussi
          content:
            text/plain:
              schema:
                type: string
              example: "pong"

  /auth/register:
    post:
      summary: Créer un nouvel utilisateur
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  maxLength: 50
                  description: Nom d'utilisateur (max 50 caractères)
                  example: "username"
                password:
                  type: string
                  description: Mot de passe (8+ caractères, minuscules/majuscules/chiffres)
                  example: "Password123"
      responses:
        '403':
          description: Tentative d'inscription alors que connecté
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppError'
        '400':
          description: Requête invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppError'
        '200':
          description: Inscription réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Register successful. You are now logged in.

  /auth/login:
    post:
      summary: Se connecter en tant qu'utilisateur
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: "username"
                password:
                  type: string
                  example: "Password123"
      responses:
        '400':
          description: Requête invalide
        '200':
          description: Connexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  message:
                    type: string
                    example: Login successful

  /auth/logout:
    post:
      summary: Se déconnecter
      tags: [Auth]
      responses:
        '200':
          description: Déconnexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out

  /auth/me:
    get:
      summary: Vérifier qui est connecté
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Utilisateur connecté
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Non connecté

  /ships:
    get:
      summary: Obtenir la liste des navires
      tags: [Ships]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Liste des navires
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ship'

    post:
      summary: Ajouter un nouveau navire
      tags: [Ships]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, goldCargo, captain, status, crewSize]
              properties:
                name:
                  type: string
                  example: "Ship Name"
                goldCargo:
                  type: number
                  example: 50
                captain:
                  type: string
                  example: "Captain Hook"
                status:
                  type: string
                  enum: ["docked", "sailing", "lookingForAFight"]
                  example: "sailing"
                crewSize:
                  type: number
                  example: 5
      responses:
        '201':
          description: Navire créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ship'

    delete:
      summary: Supprimer tous les navires
      tags: [Ships]
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Tous les navires supprimés
        '401':
          description: Non authentifié

  /ships/{id}:
    get:
      summary: Obtenir un navire spécifique
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID du navire
      responses:
        '200':
          description: Navire trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ship'

    patch:
      summary: Mettre à jour certaines informations d'un navire
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID du navire à mettre à jour
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Updated Ship Name"
                goldCargo:
                  type: number
                  example: 100
                captain:
                  type: string
                  example: "New Captain"
                status:
                  type: string
                  enum: ["docked", "sailing", "lookingForAFight"]
                  example: "docked"
                crewSize:
                  type: number
                  example: 10
                lootedNumber:
                  type: number
                  example: 2
      responses:
        '200':
          description: Navire mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ship'
        '400':
          description: Requête invalide
        '401':
          description: Non authentifié
        '404':
          description: Navire non trouvé

    delete:
      summary: Supprimer un navire par ID
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID du navire à supprimer
      responses:
        '204':
          description: Navire supprimé
        '401':
          description: Non authentifié
        '404':
          description: Navire non trouvé

  /ships/send/userlist:
    get:
      summary: Obtenir la liste des ports disponibles
      tags: [Ships]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Liste des ports
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: "nomUtilisateur"

  /ships/send/{recipient}:
    post:
      summary: Envoyer un navire vers un autre port
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: recipient
          in: path
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
                  example: fc7001d4-bc80-468f-9ca3-cbda91a3f605
      responses:
        '204':
          description: Navire envoyé
  /ship/dock:
    post:
      summary: Recevoir un navire dans ce port
      tags: [Ships]
      security:
        - bearerAuth: []
          clientId: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, goldCargo, captain, status, crewSize, createdBy]
              properties:
                name:
                  type: string
                  example: "Ship Name"
                goldCargo:
                  type: number
                  example: 50
                captain:
                  type: string
                  example: "Captain Hook"
                status:
                  type: string
                  enum: ["docked", "sailing", "lookingForAFight"]
                crewSize:
                  type: number
                  example: 5
                createdBy:
                  type: string
                  example: "Alain"
      responses:
        '200':
          description: Navire reçu

  /ships/transferGold/{fromShipId}/{toShipId}:
    post:
      summary: Transférer de l'or entre deux navires
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: toShipId
          in: path
          required: true
          schema:
            type: string
          description: ID du navire auquel ajouter de l'or
        - name: fromShipId
          in: path
          required: true
          schema:
            type: string
          description: ID du navire auquel ajouter de l'or
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
      responses:
        '200':
          description: Transfert d'or réussi

  /ships/retirerEquipage/{idBateau}:
    post:
      summary: Retirer des membres d'équipage d'un navire
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: idBateau
          in: path
          required: true
          schema:
            type: string
          description: ID du navire auquel ajouter de l'or
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newCrew]
              properties:
                newCrew:
                  type: number
      responses:
        '200':
          description: Équipage mis à jour

  /ships/ajouterEquipage/{idBateau}:
    post:
      summary: Ajouter des membres d'équipage à un navire
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: idBateau
          in: path
          required: true
          schema:
            type: string
          description: ID du navire auquel ajouter de l'or
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newCrew]
              properties:
                newCrew:
                  type: number
      responses:
        '200':
          description: Équipage mis à jour

  /ships/ajouterOr/{idBateau}:
    post:
      summary: Ajouter de l'or à un navire
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: idBateau
          in: path
          required: true
          schema:
            type: string
          description: ID du navire auquel ajouter de l'or
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [Or]
              properties:
                Or:
                  type: number
                  description: Quantité d'or à ajouter
      responses:
        '204':
          description: Or ajouté avec succès

  /ships/retirerOr/{idBateau}:
    post:
      summary: Retirer de l'or d'un navire
      tags: [Ships]
      security:
        - bearerAuth: []
      parameters:
        - name: idBateau
          in: path
          required: true
          schema:
            type: string
          description: ID du navire duquel retirer de l'or
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [Or]
              properties:
                Or:
                  type: number
                  description: Quantité d'or à retirer
      responses:
        '204':
          description: Or retiré avec succès

components:
  schemas:
    AppError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: string

    Ship:
      type: object
      required: [id, name, goldCargo, captain, status, crewSize, lootedNumber, createdBy, createdAt, updatedAt]
      properties:
        id:
          type: string
          example: fc7001d4-bc80-468f-9ca3-cbda91a3f605
        name:
          type: string
          example: "Ship Name"
        goldCargo:
          type: number
          example: 50
        captain:
          type: string
          example: "Captain Hook"
        status:
          type: string
          enum: ["docked", "sailing", "lookingForAFight"]
        crewSize:
          type: number
          example: 5
        lootedNumber:
          type: number
          example: 0
        createdBy:
          type: string
          example: "Alain"
        createdAt:
          type: string
          example: "2025-09-30T16:02:09.305Z"
        updatedAt:
          type: string
          example: "2025-09-30T16:02:09.305Z"

    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    clientId:
      type: apiKey
      in: header
      name: x-client-id
